* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgray;
  flex-direction: column;
}

.board {
  margin: 16px 16px;
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.square {
  background-color: rgb(58, 61, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid rgb(146, 146, 146);
}